.box{
    background-color: rgb(172, 245, 55);
    height: 95px;
    width: 265px;
    margin-left: 154px;
        padding :30px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    padding-left:20px ;
    margin: 165px;
    padding-left: 20px;   
    padding-right: 20px;  

        
}