.box{
    background-color: rgb(172, 245, 55);
    height: 40px;
    width: 25px;
    margin-left: 154px;
     padding :30px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    padding-left:10px ;
    margin: 10px;
    padding-left: 20px;   
    padding-right: 20px;  
         
}

.averagebox{
    background-color: rgb(46, 227, 94);
    height: 40px;
    width: 25px;
    margin-left: 20px;
    padding-bottom: 28px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    padding-left:20px ;
    color:bisque

        
}