#txtValue1{
    background-color: rgb(43, 187, 235);
    padding-top: 20px;
    padding-bottom: 20px;

}
.box{
    background-color: rgb(172, 245, 55);
    height: 40px;
    width: 25px;
    margin-left: 25px;
    padding :20px;
    padding-bottom: 20px;
   
   
   
}
.value1{
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgb(204, 39, 39);
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
     
}
.topbox{
    background-color: rgb(252, 160, 80);
    padding-bottom: 40px;
    padding-left: 26px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top:10px ;
    margin-right: 10px;
    height:100px;
    padding-right: 10px;
    width:20px;
    border-left: 10px;
    border-radius:10px;
    justify-content: center;

    }