#txtValue1{
    background-color: rgb(43, 187, 235);

}
.box{
    background-color: rgb(172, 245, 55);
    height: 95px;
    width: 265px;
    margin-left: 20px;
    padding :30px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    padding-left:20px ;
    margin: 165px;
}
.value1{
    margin-bottom: 10px;
    
}