#txtValue1{
    background-color: rgb(43, 187, 235);
    padding-top: 20px;


}
.box{
    background-color: rgb(172, 245, 55);
    height: 90px;
    width: 25px;
    margin-left: 25px;
    padding :20px;
    padding-bottom: 20px;
    padding-left:20px ;
    margin: 120px;
    padding-right:20px ;
}
.value1{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(204, 39, 39);
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;

    
}
.box{
    background-color: blue;
    padding-bottom: 30px;
    padding-left: 20px;
}