/*.box{
    background-color: rgb(172, 245, 55);
    height: 40px;
    width: 25px;
    margin-left: 154px;
     padding :30px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    padding-left:10px ;
    margin: 10px;
    padding-left: 20px;   
    padding-right: 20px;  
         
}

.averagebox{
    background-color: rgb(44, 22, 211);
    height: 40px;
    width: 20px;
    margin-left: 20px;
    padding-bottom: 28px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    padding-left:20px ;
    color:bisque

}









.Change {
    background-color: rgb(165, 199, 26);
    padding: 20px;
    margin-left: 155px;
    margin-top:70px;
    margin-top: 123px;
    border: 119px;
    margin-right: 527px;
    padding-bottom: 69px;
    border-radius: 2px;
   
}

.Hight{
    background-color: rgb(12, 5, 67);
padding-top:20px;
margin-top:40px;

}
*/

/* 
.vinnu{
    background-color: green;
    margin-top:50px;
    margin-right:60px;
    margin-bottom: 70px;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 70px;
    border-radius: 1000px;
    
} */
/* rgin-top:50px;
    margin-bottom:50px;
    margin-right:80px;
    margin-left:80ox;
    padding

.three{
    background-color:rgb(2, 187, 2);
    ma-top:100px;
    padding-bottom:190px;
    padding-right:200px;
    padding-left:800px;
    border-radius:1000px;
}


 */









